{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 my-5">
                <h1>Reviews</h1>
                <a href="{% url 'add_review' %}" class="btn btn-primary">Add Review</a>
                <hr>
                <div>
                    {% for review in reviews %}
                    <div>
                        {% if not review.approved and review.author == request.user %}
                        <p class="approval">This review is awaiting approval</p>
                        {% endif %}
                        <h3>{{ review.review_title }}</h3>
                        <p><strong>By:</strong> {{ review.author }} on {{ review.created_on|date:"F j, Y" }}</p>
                        <p><strong>Rating:</strong> {{ review.rating }}/5</p>
                        <p>{{ review.content }}</p>
                        {% if user.is_authenticated and review.author == user %}
                        <a href="{% url 'edit_review' review.id %}" class="btn btn-primary">Edit</a>
                        <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"
                            data-review-url="{% url 'review_delete' review.id %}">
                            Delete
                        </a>
                        {% endif %}
                        <hr>
                    </div>
                    {% empty %}
                    <p>No reviews yet. Be the first to write one!</p>
                    {% endfor %}

                    <!-- Delete review confirmation modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Delete review?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete your comment? This action cannot be undone.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
                                </div>
                                {% endblock %}


                                {% block extras %}
                                <script src="{% static 'js/reviews.js' %}"></script>
                                {% endblock %}