
body {
    background-color: #b1a8b9;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #B64054;
}

.red-o {
    color: #B64054;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #FCFAFA;
}

.dark-bg {
    background-color: #91889C;
}

.main-bg {
    background-color: #FCFAFA;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #B64054;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #91889C;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #91889C;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.project-link {
    text-decoration: none;
    color: #8B8A95;
}

.project-link:hover,
.page-link {
    color: #B64054;
}

.project-title {
    margin-top: 10%;
    margin-left: 5%;
}

.project-subtitle {
    margin-left: 5%;
    color: #91889C;
}

.btn-signup,
.btn-edit {
    background-color: #B64054;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #B64054;
}

.link {
    color: #B64054;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #AB7F6C;
    text-decoration: underline;
}

.btn-like {
    color: #B64054;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #B64054;
}

.btn-like:hover,
.btn-like:active {
    color: #B64054;
    background: transparent;
    border: none;
}

.faded {
    color: #6c8e51;
}

.approval {
    color: #f44336;
}
