/* ----------GOOGLE FONTS---------- */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #BF9175;
    color: #3D2A48;
    font-family: Roboto, sans-serif;
    font-size: 12;
}

.alert-style {
    font-family: Merriweather, sans-serif;
    color: #C7384A;
}

.brand {
    font-family: Bungee Shade, sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    color: #3D2A48;
}

.brand-surname {
    color: #C7384A;
}


.login-status {
    color: #C7384A;
    font-weight: 400;
    padding: 5px;
    font-size: 20px;
    font-style: italic;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #F7F2F2;
}

.dark-bg {
    background-color: #959FAF;
}

.main-bg {
    background-color: #fff;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}


.navbar {
    background-color: #F7F2F2;
    color: #3D2A48;
}

.navbar-subtext {
    color: #3D2A48;
    text-decoration: underline;

}

.nav-link {
    color: #3D2A48;
}

.navbar-collapse .nav-link {
    padding: 2px 5px; /* Adjust values as needed */
}

.navbar .nav-link.active {
    color: #F7F2F2;
    background-color: #C7384A;
    /* Color for hover and active state */
    text-decoration: underline;
}

.navbar .nav-link:hover {
    background-color: #C7384A;
    color: #F7F2F2
        /* Color for hover and active state */
}

/* Change the font color for the navbar brand */
.navbar .navbar-brand {
    font-family: Merriweather, sans-serif;
    font-weight: bold;
    font-family: Bungee Shade, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #3D2A48;
}

.navbar-toggler {
    background-color: #C7384A; /* Toggler button background color */
    border: none; /* Remove border if needed */
    font-size: 18px;
}

/* Change the color of the toggler icon */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* White bars icon */
    width: 30px; /* Default size for larger screens */
    height: 30px;
    padding: 2px;
}

.image-flash {
    bottom: 5%;
    min-width: 30%;
    text-align: center;
    background-color: #C7384A;
    border-radius: 5px;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: #F0EBEB;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #959FAF;
    color: #3D2A48;
    position: relative;
    border-top-left-radius: 15px;
    /* Adjust the radius value */
    border-bottom-left-radius: 15px;
}

.masthead-image {
    position: relative;
    overflow: hidden;
    border-top-right-radius: 15px;
    /* Adjust the radius value */
    border-bottom-right-radius: 1px;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #959FAF;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.project-link {
    text-decoration: none;
    color: #8B8A95;
}

.project-link:hover {
    background-color: #C7384A;
    color: #F7F2F2;
}

.page-btns {
    background-color: #C7384A;
    color: #F7F2F2;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.page-btns:hover {
    background-color:#F7F2F2;
    color:#C7384A;
}

.project-title {
    margin-top: 15%;
    margin-left: 10%;
}

.project-subtitle {
    margin-left: 10%;
    text-transform: capitalize;
}

.card-title {
    color: #3D2A48;
    font-weight: 500;
}

.card-title:hover {
    color: #C7384A;
    font-weight: 500;
}

.card-text {
    color: #3D2A48;
    font-weight: 400;
}

.btn-signup,
.btn-edit {
    background-color: #C7384A;
    color: #D8D8D8;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #D8D8D8;
    color: #3D2A48;
}

.link {
    color: #3D2A48;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #BF9175;
    text-decoration: underline;
}

.btn-like {
    color: #3D2A48;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #D8D8D8;
    background: #3D2A48;
}

.btn-like:hover,
.btn-like:active {
    color: #3D2A48;
    background: transparent;
    border: none;
}

.btn-github {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    font-weight: 400;
    background-color:#6e5494;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-github:hover {
    background-color: #F7F2F2;
    color: #6e5494;
    border: 2px solid #6e5494;
}

.btn-deployed {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    font-weight: 400;
    background-color:#C7384A;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-deployed:hover {
    background-color: #F7F2F2;
    color: #C7384A;
    border: 2px solid #C7384A;
}


.faded {
    color: #6c8e51;
}

.approval {
    color: #f44336;
}

footer {
    background-color: #F7F2F2;
    color: #3D2A48;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    padding: 0 auto;
    margin: mx auto;
}

.social {
    color: #3D2A48;
    font-family: Roboto, sans-serif;
    font-size: 1.1rem;
}
/* Media query for mobile devices
@media (max-width: 768px) {
    .navbar-toggler-icon {
        width: 20px; /* Smaller size for mobile 
        height: 20px;
    } */